@media (min-width: 1200px) {


    #resolution{
        background-color: mediumslateblue;
      }


    #resolution::after{
        content: "1200 < XL";
      }

      .plante_2{
        margin-left: 1010px;
      }

      .plante_3{
        width: 70%;
        margin-left: 360px;
      }

      .bloc5{
        margin-top: 10px;
      }
  
      .photo1{
  
        img{
          margin-left: 60px;
        }
      }
  
      .photo2{
  
        img{
          margin-left: 30px;
        }
      }
  
      .photo3{
  
        img{
          margin-left: 50px;
        }
      }
  
      .photo4{
  
        img{
          margin-left: 60px;
        }
      }
  
      .photo5{
  
        img{
          margin-left: 30px;
        }
      }
  
      .photo6{
  
        img{
          margin-left: 50px;
        }
      }
  
      .appuie{
        margin-left: 430px;
      }

      .bloc8{
        p{
          margin-left: 50px;
        }

        .sponso3{
          width: 40%;
          margin-left: 550px;
        }
      }
}